@import "breakpoints.scss";

$primary-grey: #333333;
$secondary-grey: #4E4E4E;
$lighter-grey: #919191;
$menu-grey-normal: #c6c6c6;
$menu-grey-hover: #666666;
$grey-for-boxes: #F6F6F6;

$thunderwear-body-copy: #79858E;
$base-accent-colour: #F15822;
$very-light-blue: #F7FBFF;
$light-blue: #E6F9FF;
$bright-blue: #10C4FD;
$bright-green: #17BBB0;
$light-green: #e8fff3;

$light-red: #FFEAEB;

$tiny: 5px;
$small: 10px;
$medium-small: 20px;
$medium: 30px;
$medium-large: 40px;
$large: 60px;



html{
  font-size: 16px;
}

body{
  font-family: 'Akagi Pro', helvetica, sans-serif;
  color: #333;
  font-weight: 100;

  &.thunderwear{
    color: $thunderwear-body-copy;
  }

  // p:not(:last-child){
  //   margin-bottom: $medium-small;
  // }
}

.container{
  padding-left: 22px;
  padding-right: 22px;
  margin: 0 auto;

  @include respond-below(xs) {
    &{
      // background-color: red;
    }
  }

  @include respond-above(xs) {
    &{
      max-width: map-get($container-max-widths, xs);
      // background-color: pink;
    }
  }

  @include respond-above(sm) {
    &{
      max-width: map-get($container-max-widths, sm);
      // background-color: green;
    }
  }

  @include respond-above(md) {
    &{
      max-width: map-get($container-max-widths, md);
      // background-color: blue;
    }
  }

  @include respond-above(lg) {
    &{
      max-width: map-get($container-max-widths, lg);
      // background-color: yellow;
    }
  }
}

strong{
  font-weight: 500;
}

p, li, blockquote, q{
  line-height: 1.6;
}

header{
  padding: $medium;

  @include respond-above(sm){
    padding: $medium-large;
  }

  @include respond-above(md){
    padding: $large;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
  }

  .logo{
    font-family: 'aller',sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    color: $base-accent-colour;
  }

  // MENU
  // --------------------------------
  .menu{
    display: flex;
    justify-content: center;

    @include respond-above(md){
      justify-content: flex-end;
    }

    li{
      text-transform: uppercase;
      font-size: 0.875em;
      font-weight: 400;
      padding: 0 $medium-small;

      @include respond-above(sm){
        font-size: 0.875em;
      }

      @include respond-above(md){
        font-size: 1em;
      }

      &:first-child{
          padding-left: 0;
      }

      &:last-child{
          padding-right: 0;
      }

      a{
        text-decoration: none;
        color: inherit;
        color: $menu-grey-normal;

        &.active, &:hover{
          color: $menu-grey-hover;
        }
      }
    }
  }

  h1{
    margin-bottom: $medium-small;

    @include respond-above(sm){
      margin-bottom: $medium-large
    }

    @include respond-above(md){
      text-align: left;
      margin: 0;
    }

    a{
      text-decoration: none;
      color: inherit;
    }
  }

  nav{
    @include respond-above(md){
      align-self: center;
    }
  }
}

h1, h2, h3, h4, h5, h6{
  color: $secondary-grey;
}

h1{
  font-size: 1.25em;
  text-align: center;
}

h2, h3{
  font-weight: 200;
  color: $secondary-grey;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

h2{
  font-size: 1.325em;
}

h3{
  font-size: 1.25em;
  margin-bottom: $medium;

  &:before{
    content: "";
    width: $medium;
    border: 0.5px solid $secondary-grey;
    display: block;
    margin-bottom: $tiny;
  }
}

h4{
  font-size: 1.125em;
  font-weight: 400;
  margin: $medium-large 0 $medium-small 0;
}

.thunderwear h4{
  color: $bright-green;
}

h5{
  font-weight: 400;
}


.description{
  text-align: center;
  margin-bottom: $medium-large;
  display: none;
}

// PROJECT LIST
// ----------------------------------------
.project-list{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: $medium-large;
  margin-bottom: $medium;

  @include respond-above(sm) {
    grid-template-columns: 1fr 1fr;
    grid-gap: $large;
    margin-bottom: $medium-large;
  }

  @include respond-above(md) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: $large;
    margin-bottom: $large;
  }

  .project-element{
    text-align: center;

    @include respond-above(md) {
      margin-bottom: 0;
    }

    a{
      text-decoration: none;

      &:hover> img{
        box-shadow: 0px 0px 30px 0px #bbbbbb;
      }
    }

    img{
      margin-bottom: $small;
      border-radius: 2px;
      transition: all 0.8s;
      position: relative;

      @include respond-below(xs) {
        max-width: 250px;
        height: auto;
      }

      @include respond-above(xs) {
        max-width: 380px;
        height: auto;
      }

      @include respond-above(sm){
        max-width: 100%;
        height: auto;
      }

    }

    p{
      color: $lighter-grey;
    }
  }
}

.project-header{
  text-align: left;

  a{
    text-decoration: none;
  }

  img{
    margin-bottom: $small;
    border-radius: 2px;
  }

  p{
    color: $lighter-grey;
  }

  h2{
    margin-bottom: $tiny;
  }
}



.project-header{
  margin-bottom: $large;

  .project-title{
    margin-bottom: $medium-large;

    img{
      margin-bottom: $medium;
    }
  }
  .excerpt{

  }
}

.project-content{
  margin-bottom: $large;
}


.method-list{
  list-style-type: none;

  li{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    text-align: center;
    text-transform: uppercase;

    i{
      color: $base-accent-colour;
    }
  }
}

.tldr{
  text-align: center;

  .highlight-title{
    font-weight: 600;
    display: inline-block;
    padding-top: $medium;
    margin-bottom: $medium;
  }

  margin: $medium 0;
  // background-color: $grey-for-boxes;
}

.box{
  text-align: center;
  justify-self: center;
  display: inline-block;
  background-color: $grey-for-boxes;
  border-radius: 3px;
  padding: $small $medium;
  margin: $small;
  // min-width: 300px;
  max-width: 330px;

  &.persona{
    background-color: $very-light-blue;
    min-width: 0;
  }
}

q{
  display: inline-block;
  margin-top: $medium;
  padding-left: $small;
  font-style: italic;
  position: relative;

  &:before{
    content: "\“";
    font-family: 'Coustard', serif;
    font-style: normal;
    position: absolute;
    left: -10px;
    margin: 0;
    padding: 0;
    z-index: -1;
    line-height: 0.7;
    font-size: 7em;
    color: $light-blue;
  }
}

.persona{
  margin-top: $large;
  padding: 0 0 $medium 0;

  figure{
    margin-bottom: $medium;
  }

  img.persona-portrait{
    object-fit: cover;
  }

  .persona-demographics{
    margin-bottom: $medium;
    text-align: left;

    li{
      display: grid;
      grid-template-columns: 30% 70%;
      grid-template-rows: 1fr;
      grid-gap: $small;
      margin-bottom: $small;
    }
  }
  .persona-pain-points{
    text-align: left;

    ul{
      margin-top: $small;
      // list-style: disc;
      // list-style-position: inside;

      li:not(:last-child){
        margin-bottom: $small;
      }
    }
  }

  h4{
    margin-top: $medium-small;
    text-transform: uppercase;
    text-align: center;
    display: block;
  }

  h5{
    margin-bottom: $medium-small;
  }

  ul{
    li{
      line-height: inherit;
    }
  }

}

.task-list{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(8, 1fr);

  grid-gap: $medium-small;

  li{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.2;

    &.decision-task{
      background-color: $light-red;
    }

    &.thunderwear-task{
      background-color: $light-green;
    }
  }
  .thunderwear-task{
    grid-row-start: 6;
    grid-row-end: 8;
  }

  h4{
    text-align: center;
  }

  .box{
    margin: 0;
    padding: $small $tiny;
    width: 100%;
  }
}


.legend{
  margin-top: $medium;

  .legend-item{

    &:not(:first-child){
      margin-top: $small;
    }

    display: flex;
    font-size: 0.725em;

    .legend-color{
      width: 20px;
      height: 20px;
      border-radius: 3px;
      margin-right: $small;

      &.decision-task{
        background-color: $light-red;
      }

      &.thunderwear-task{
        background-color: $light-green;
      }
    }

    span{
      display: flex;
      align-self: center;
      line-height: 0;
    }
  }
}


.breakpoints-gallery{
  margin-top: $medium;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: $small;

  li{
    text-align: center;

    &.box{
      width: 80%;
      padding: 0;
    }

    figure{
      figcaption{
        padding: $small;
      }
    }

  }
}

.test-task-list{
  list-style: none;
  counter-reset: my-awesome-counter;

  li{
    counter-increment: my-counter;
    position: relative;
    padding: 4px 0 $medium $medium-large ;
    line-height: 1;
  }

  li::before{
    content: counter(my-counter);
    color: $bright-blue;
    font-size: 3em;
    line-height: 1;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 600;
  }
}


// ------------------------------------------- FOOTER

footer{
  background-color: #f7f7f7;
  padding: $medium;

  p{
    text-align: center;
    font-size: 0.725em;
  }

  .social-media{
    font-size: 1.5em;
    margin-bottom: $medium;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr;
    grid-gap: $medium;

    .instagram{
      justify-self: start;
    }

    .linkedin{
      justify-self: end;
    }

    a{
      text-decoration: none;
      color: $secondary-grey;
    }
  }
}
