html {
  font-size: 16px; }

body {
  font-family: 'Akagi Pro', helvetica, sans-serif;
  color: #333;
  font-weight: 100; }
  body.thunderwear {
    color: #79858E; }

strong {
  font-weight: 500; }

p {
  line-height: 1.4; }

header {
  padding: 22px 22px 22px 22px; }

.wrapper {
  padding: 0 22px; }

.logo {
  font-family: 'aller',sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #F15822; }

h1, h2, h3, h4, h5, h6 {
  color: #4E4E4E; }

h1 {
  font-size: 1.25em;
  text-align: center; }

h2, h3 {
  font-weight: 400;
  color: #4E4E4E;
  text-transform: uppercase;
  letter-spacing: 0.5px; }

h2 {
  font-size: 1.325em; }

h3 {
  font-size: 1.25em;
  margin-bottom: 20px; }
  h3:before {
    content: "";
    width: 40px;
    border: 0.5px solid #4E4E4E;
    display: block;
    margin-bottom: 5px; }

h4 {
  font-size: 1.125em;
  font-weight: 400;
  color: #79858E; }

.menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  padding: 30px 0; }
  .menu li {
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: 400; }
    .menu li a {
      text-decoration: none;
      color: inherit;
      color: #c6c6c6; }
      .menu li a.active {
        color: #666666; }

.description {
  text-align: center;
  margin-bottom: 40px;
  display: none; }

.project-element, .project-header {
  text-align: center; }
  .project-element a, .project-header a {
    text-decoration: none; }
  .project-element img, .project-header img {
    margin-bottom: 10px;
    border-radius: 2px; }
  .project-element p, .project-header p {
    color: #919191; }
  .project-element h2, .project-header h2 {
    margin-bottom: 5px; }

.project-element {
  margin-bottom: 40px; }

.project-header {
  margin-bottom: 60px; }
  .project-header .project-title {
    margin-bottom: 40px; }

.project-content {
  margin-bottom: 40px; }

footer {
  background-color: #f7f7f7;
  padding: 30px; }
  footer p {
    text-align: center;
    font-size: 0.725em; }
  footer .social-media {
    font-size: 1.5em;
    margin-bottom: 30px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 30px; }
    footer .social-media .instagram {
      -ms-grid-column-align: start;
      justify-self: start; }
    footer .social-media .linkedin {
      -ms-grid-column-align: end;
      justify-self: end; }
    footer .social-media a {
      text-decoration: none;
      color: #4E4E4E; }
