@charset "UTF-8";
html {
  font-size: 16px; }

body {
  font-family: 'Akagi Pro', helvetica, sans-serif;
  color: #333;
  font-weight: 100; }
  body.thunderwear {
    color: #79858E; }

.container {
  padding-left: 22px;
  padding-right: 22px;
  margin: 0 auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

strong {
  font-weight: 500; }

p, li, blockquote, q {
  line-height: 1.6; }

header {
  padding: 30px; }
  @media (min-width: 768px) {
    header {
      padding: 40px; } }
  @media (min-width: 992px) {
    header {
      padding: 60px;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      -ms-flex-line-pack: center;
      align-content: center; } }
  header .logo {
    font-family: 'aller',sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    color: #F15822; }
  header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media (min-width: 992px) {
      header .menu {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end; } }
    header .menu li {
      text-transform: uppercase;
      font-size: 0.875em;
      font-weight: 400;
      padding: 0 20px; }
      @media (min-width: 768px) {
        header .menu li {
          font-size: 0.875em; } }
      @media (min-width: 992px) {
        header .menu li {
          font-size: 1em; } }
      header .menu li:first-child {
        padding-left: 0; }
      header .menu li:last-child {
        padding-right: 0; }
      header .menu li a {
        text-decoration: none;
        color: inherit;
        color: #c6c6c6; }
        header .menu li a.active, header .menu li a:hover {
          color: #666666; }
  header h1 {
    margin-bottom: 20px; }
    @media (min-width: 768px) {
      header h1 {
        margin-bottom: 40px; } }
    @media (min-width: 992px) {
      header h1 {
        text-align: left;
        margin: 0; } }
    header h1 a {
      text-decoration: none;
      color: inherit; }
  @media (min-width: 992px) {
    header nav {
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; } }

h1, h2, h3, h4, h5, h6 {
  color: #4E4E4E; }

h1 {
  font-size: 1.25em;
  text-align: center; }

h2, h3 {
  font-weight: 200;
  color: #4E4E4E;
  text-transform: uppercase;
  letter-spacing: 0.8px; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em;
  margin-bottom: 30px; }
  h3:before {
    content: "";
    width: 30px;
    border: 0.5px solid #4E4E4E;
    display: block;
    margin-bottom: 5px; }

h4 {
  font-size: 1.25em;
  font-weight: 400;
  margin: 40px 0 20px 0;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    h4 {
      margin-bottom: 30px; } }
  @media (min-width: 992px) {
    h4 {
      margin-top: 60px; } }

.thunderwear h4 {
  color: #17BBB0; }

h5 {
  font-weight: 400;
  font-size: 1.25em; }

.card {
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .card:hover {
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.description {
  text-align: center;
  margin-bottom: 40px;
  display: none; }

.project-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-gap: 40px;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .project-list {
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-gap: 60px;
      margin-bottom: 40px; } }
  @media (min-width: 992px) {
    .project-list {
      -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 60px;
      margin-bottom: 60px; } }
  .project-list .project-element {
    text-align: center; }
    @media (min-width: 992px) {
      .project-list .project-element {
        margin-bottom: 0; } }
    .project-list .project-element a {
      text-decoration: none; }
      .project-list .project-element a:hover > img {
        -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
    .project-list .project-element img {
      margin-bottom: 10px;
      border-radius: 3px;
      -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      position: relative; }
      @media (max-width: 575px) {
        .project-list .project-element img {
          max-width: 250px;
          height: auto; } }
      @media (min-width: 576px) {
        .project-list .project-element img {
          max-width: 380px;
          height: auto; } }
      @media (min-width: 768px) {
        .project-list .project-element img {
          max-width: 100%;
          height: auto; } }
    .project-list .project-element p {
      color: #919191; }

.project-header {
  font-size: 0;
  padding: 0; }
  .project-header picture {
    width: 100%;
    height: auto; }

.process-img {
  text-align: center;
  display: block;
  margin: 30px auto 0 auto; }
  @media (max-width: 575px) {
    .process-img {
      width: 100%; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .process-img {
      width: 80%; } }

.project-summary {
  padding-top: 30px; }
  .project-summary h2 {
    margin-top: 10px;
    margin-bottom: 20px; }
    @media (min-width: 992px) {
      .project-summary h2 {
        margin-top: 30px;
        margin-bottom: 30px; } }
  .project-summary h4 {
    margin-bottom: 5px; }
  .project-summary .project-info {
    margin-top: 20px;
    padding-bottom: 40px; }
    @media (min-width: 992px) {
      .project-summary .project-info {
        margin-top: 30px;
        padding-bottom: 40px; } }
    @media (min-width: 768px) {
      .project-summary .project-info .container {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
        -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-gap-column: 30px;
        grid-row-gap: 60px;
        text-align: center; } }
    @media (min-width: 768px) {
      .project-summary .project-info .container .process, .project-summary .project-info .container .impact {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-column-span: 3;
        grid-column-end: 4;
        text-align: center; } }
    .project-summary .project-info .container .process {
      background-color: #17BBB0;
      padding-bottom: 40px; }
      .project-summary .project-info .container .process h4 {
        color: white; }
        @media (max-width: 767px) {
          .project-summary .project-info .container .process h4 {
            text-align: center;
            padding: 30px 0 20px 0; } }
      @media (max-width: 991px) {
        .project-summary .project-info .container .process .process-img {
          padding: 0 30px; } }

.project-content {
  margin-bottom: 80px; }

.method-list {
  list-style-type: none; }
  .method-list li {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    text-align: center;
    text-transform: uppercase; }
    .method-list li i {
      color: #F15822; }

.tldr {
  text-align: center;
  margin: 30px 0; }
  .tldr .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
    width: 100%; }
    @media (min-width: 768px) {
      .tldr .container {
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-column-gap: 60px; } }
  .tldr .highlight-title {
    font-weight: 600;
    display: inline-block;
    padding-top: 30px;
    margin-bottom: 30px; }

.box {
  text-align: center;
  -ms-grid-column-align: center;
  justify-self: center;
  display: inline-block;
  background-color: #F6F6F6;
  border-radius: 3px;
  padding: 10px 30px;
  max-width: 100%; }
  .box.persona {
    background-color: #F7FBFF; }

.interview-quotes {
  margin: 30px 0;
  display: inline-block; }
  @media (min-width: 768px) {
    .interview-quotes {
      display: -ms-inline-grid;
      display: inline-grid;
      -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 40px;
      text-align: center; } }
  @media (min-width: 992px) {
    .interview-quotes {
      grid-gap: 60px; } }
  .interview-quotes q {
    display: inline-block;
    margin-top: 30px;
    padding-left: 10px;
    font-style: italic;
    position: relative; }
    @media (min-width: 992px) {
      .interview-quotes q {
        margin-top: 40px;
        margin-bottom: 30px; } }
    .interview-quotes q:before {
      content: "\“";
      font-family: 'Coustard', serif;
      font-style: normal;
      position: absolute;
      left: -10px;
      margin: 0;
      padding: 0;
      z-index: -1;
      line-height: 0.7;
      font-size: 7em;
      color: #E6F9FF; }
      @media (min-width: 992px) {
        .interview-quotes q:before {
          font-size: 10em; } }

@media (min-width: 992px) {
  .personas-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

.personas-list .persona {
  margin-top: 60px;
  padding: 0 0 30px 0; }
  @media (min-width: 768px) and (max-width: 991px) {
    .personas-list .persona {
      margin-left: auto;
      margin-right: auto;
      max-width: 70%; } }
  @media (min-width: 992px) {
    .personas-list .persona {
      width: calc(50% - 40px); }
      .personas-list .persona:not(:last-child) {
        margin-right: 40px; } }
  .personas-list .persona figure {
    margin-bottom: 30px; }
  .personas-list .persona img.persona-portrait {
    -o-object-fit: cover;
    object-fit: cover; }
  .personas-list .persona .persona-demographics {
    margin-bottom: 30px;
    text-align: left; }
    .personas-list .persona .persona-demographics li {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
      -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-gap: 10px;
      margin-bottom: 10px; }
  .personas-list .persona .persona-pain-points {
    text-align: left; }
    .personas-list .persona .persona-pain-points ul {
      margin-top: 10px; }
      .personas-list .persona .persona-pain-points ul li:not(:last-child) {
        margin-bottom: 10px; }
  .personas-list .persona h4 {
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    display: block; }
  .personas-list .persona h5 {
    margin-bottom: 20px; }
  .personas-list .persona ul li {
    line-height: inherit; }

.insights-list {
  margin: 30px 0; }

.task-list {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (1fr)[8];
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 20px; }
  @media (min-width: 768px) {
    .task-list {
      max-width: 90%;
      grid-column-gap: 60px;
      margin-left: auto;
      margin-right: auto; } }
  @media (min-width: 992px) {
    .task-list {
      max-width: 70%;
      margin-top: 40px; } }
  .task-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: inherit;
    padding: 10px; }
    .task-list li.decision-task {
      background-color: #FFEAEB; }
    .task-list li.thunderwear-task {
      background-color: #e8fff3; }
  .task-list .thunderwear-task {
    -ms-grid-row: 6;
    grid-row-start: 6;
    -ms-grid-row-span: 2;
    grid-row-end: 8; }
  .task-list h4 {
    text-align: center;
    border-bottom: 1px solid;
    width: 100%;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    color: #919191; }
  .task-list .box {
    margin: 0;
    padding: 10px 5px;
    width: 100%; }

.highlight {
  padding-top: 40px;
  padding-bottom: 40px;
  background: -webkit-gradient(linear, left bottom, right top, from(#02D6FD), to(#4B7FFF)); }
  .highlight p {
    color: white;
    font-weight: 100;
    text-align: center; }
    @media (min-width: 768px) {
      .highlight p {
        font-size: 1.4em; } }

.legend {
  margin-top: 30px; }
  @media (min-width: 768px) {
    .legend {
      max-width: 90%;
      margin-left: auto;
      margin-right: auto; } }
  @media (min-width: 768px) {
    .legend {
      margin-top: 40px;
      max-width: 70%; } }
  .legend .legend-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.725em; }
    .legend .legend-item:not(:first-child) {
      margin-top: 10px; }
    .legend .legend-item .legend-color {
      width: 20px;
      height: 20px;
      border-radius: 3px;
      margin-right: 10px; }
      .legend .legend-item .legend-color.decision-task {
        background-color: #FFEAEB; }
      .legend .legend-item .legend-color.thunderwear-task {
        background-color: #e8fff3; }
    .legend .legend-item span {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-item-align: center;
      align-self: center;
      line-height: 0; }

.survey h4 {
  color: #79858E; }

@media (min-width: 992px) {
  .survey .survey-charts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

.survey .survey-charts div {
  width: calc(50% - 30px);
  margin-top: 30px; }
  .survey .survey-charts div:not(:last-child) {
    margin-right: 30px; }

@media (min-width: 992px) {
  .survey .survey-charts h4 {
    text-align: center; } }

.survey .survey-charts a {
  margin-bottom: 10px;
  display: inline-block; }
  @media (min-width: 768px) {
    .survey .survey-charts a img {
      max-width: 70%; } }
  @media (min-width: 992px) {
    .survey .survey-charts a img {
      max-width: 100%; } }

.survey .survey-facts {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 60px; }
  @media (min-width: 768px) {
    .survey .survey-facts {
      margin-top: 60px;
      margin-bottom: 60px;
      -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
      -ms-grid-rows: auto;
      grid-template-rows: auto; } }
  @media (min-width: 992px) {
    .survey .survey-facts {
      -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 30px; } }
  .survey .survey-facts hr {
    color: #17BBB0;
    border-color: inherit; }
  .survey .survey-facts p {
    line-height: 1.2;
    font-weight: 400;
    width: 80%; }
    .survey .survey-facts p .percentage {
      color: #17BBB0;
      text-align: center;
      line-height: 1;
      display: block;
      width: 100%;
      font-size: 2.5em;
      font-weight: 500;
      margin-bottom: 5px; }

.survey .season-facts {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  grid-gap: 40px; }
  @media (min-width: 768px) {
    .survey .season-facts {
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      -ms-grid-rows: auto;
      grid-template-rows: auto;
      margin-top: 60px; } }
  @media (min-width: 992px) {
    .survey .season-facts {
      max-width: 80%;
      margin-left: auto;
      margin-right: auto; } }
  .survey .season-facts .summer, .survey .season-facts .winter {
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 3px; }
    .survey .season-facts .summer i, .survey .season-facts .winter i {
      display: block;
      text-align: center;
      font-size: 2.5em; }
    .survey .season-facts .summer p, .survey .season-facts .winter p {
      display: block;
      margin-top: 20px; }
  .survey .season-facts .winter {
    background-color: #E6F9FF; }
    .survey .season-facts .winter i:before {
      background: -webkit-gradient(linear, left bottom, right top, from(#02D6FD), to(#4B7FFF));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  .survey .season-facts .summer {
    background-color: #FFF7E6; }
    .survey .season-facts .summer i:before {
      background: -webkit-gradient(linear, left bottom, right top, from(#FFE684), to(#FF4142));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }

.ideation-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .ideation-gallery a {
    padding: 10px;
    width: calc(100% / 2); }
    @media (min-width: 992px) {
      .ideation-gallery a {
        width: calc(100% / 3); } }

.breakpoints-gallery {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .breakpoints-gallery li {
    margin: 10px;
    width: calc(100% / 2 - (10px * 2));
    text-align: center; }
    @media (min-width: 768px) {
      .breakpoints-gallery li {
        width: calc(100% / 3 - (10px * 2)); } }
    @media (min-width: 992px) {
      .breakpoints-gallery li {
        width: calc(100% / 5 - (10px * 2)); } }
    .breakpoints-gallery li figure {
      padding-top: 10px; }
      .breakpoints-gallery li figure img {
        border-bottom: 1px solid #F6F6F6; }
      .breakpoints-gallery li figure figcaption {
        padding: 10px 10px 20px 10px; }
    .breakpoints-gallery li a {
      text-decoration: none;
      color: #17BBB0; }

.ordered-list {
  list-style: none;
  counter-reset: my-awesome-counter; }
  @media (min-width: 768px) {
    .ordered-list {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
      -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-column-gap: 40px;
      grid-row-gap: 30px; } }
  @media (min-width: 768px) {
    .ordered-list.recommendations-list, .ordered-list.lessons-learned-list {
      -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr); } }
  .ordered-list li {
    counter-increment: my-counter;
    position: relative;
    padding: 3px 0 40px 40px;
    line-height: 1.2; }
    @media (min-width: 768px) {
      .ordered-list li {
        padding: 3px 0 20px 40px; } }
    .ordered-list li:last-child {
      padding-bottom: 0; }
  .ordered-list li::before {
    content: counter(my-counter);
    color: #10C4FD;
    font-size: 3em;
    line-height: 1;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 600; }

@media (min-width: 992px) {
  .two-column {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr; } }

.prototype-gif, .prototype-2-img {
  margin: 30px auto 0 auto;
  display: block; }

@media (min-width: 992px) {
  .prototype-gif {
    margin: 0 auto; } }

@media (min-width: 992px) {
  .prototype-2-img img {
    margin-left: auto;
    margin-right: auto;
    display: block; } }

.recommendations-list, .lessons-learned-list {
  margin-top: 30px; }
  @media (min-width: 992px) {
    .recommendations-list, .lessons-learned-list {
      margin-top: 60px; } }

.task-sample {
  text-align: center;
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[3];
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 20px; }
  @media (min-width: 768px) {
    .task-sample {
      max-width: 50%;
      margin-left: auto;
      margin-right: auto; } }
  .task-sample .box {
    min-width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

footer {
  background-color: #f7f7f7;
  padding: 30px; }
  footer p {
    text-align: center;
    font-size: 0.725em; }
  footer .social-media {
    font-size: 1.5em;
    margin-bottom: 30px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 30px; }
    footer .social-media .instagram {
      -ms-grid-column-align: start;
      justify-self: start; }
    footer .social-media .linkedin {
      -ms-grid-column-align: end;
      justify-self: end; }
    footer .social-media a {
      text-decoration: none;
      color: #4E4E4E; }
