@import "breakpoints.scss";

$primary-grey: #333333;
$secondary-grey: #4E4E4E;
$tertiary-grey: #666666;
$lighter-grey: #919191;
$menu-grey-normal: #c6c6c6;
$menu-grey-hover: #666666;
$grey-for-boxes: #F6F6F6;
$very-light-grey: #FEFEFE;

// TODO Put this in a nested var w/ function
// THUNDERWEAR COLOURS
$thunderwear-body-copy: #79858E;
$base-accent-colour: #F15822;
$very-light-blue: #F7FBFF;
$light-yellow: #FFF7E6;
$light-blue: #E6F9FF;
$light-bright-blue: #02D6FD;
$bright-blue: #0faee0;
$darker-blue: #4B7FFF;
$bright-green: #65D85B;
$light-green: #e8fff3;
$bright-yellow: #FFE684;
$bright-red: #FF4142;

// BARKING LOVE'S ORANGE
$bl-orange: #F15822;
$bl-orange-faded: #ff845b;
$bl-body-copy: #8e8f93;
$bl-light-grey: #F9F9F9;
$bl-green: #769C39;


// NATURES COLOURS
$nb-body-copy: #798E7B;
$nb-green: #79A945;
$nb-secondary-green: #41af72;

// ONLINE LEARNING COLOURS
$ol-purple: #705BCA;


// Smart Cistern
$sc-light-blue: #F1F8FF;
$sc-grey: #636E79;
$sc-before-grey: #F9F7F8;
$sc-bright-blue: #4DA6F1;


$light-red: #FFEAEB;

$tiny: 5px;
$small: 10px;
$medium-small: 20px;
$medium: 30px;
$medium-large: 40px;
$large: 60px;
$xl: 80px;
$xxl: 100px;
$xxxl: 150px;



html{
  font-size: 17px;
}

body{
  font-family: akagi-pro, helvetica, sans-serif;
  color: #333;
  // font-weight: 100;

  &.thunderwear{
    color: $thunderwear-body-copy;

    h3{
      color: $bright-blue;
    }
  }

  &.smart-cistern{
    color: $sc-grey;

    h3{
      color: $sc-bright-blue;
    }

  }

  &.barking-love{
    color: $bl-body-copy;

    h3{
      color: $bl-orange;
    }
  }

  &.natures{
    color: $nb-body-copy;

    h3{
      color: $nb-green;
    }
  }

  &.online-learning{
    color: $thunderwear-body-copy;

    h3{
      color: $ol-purple;
    }
  }

  a{
    &.text-link{
      text-decoration: none;
      &:link{
        color: #418dcc;
      }

      &:hover{
        text-decoration: underline;
      }

      &:visited{
        color: #418dcc;
      }
    }
  }

  // BODY-COPY

  p:not(:last-child){
    margin-bottom: $medium;
  }
}

main{
  min-height: calc(100vh - 300px);
}

.container{
  padding-left: 22px;
  padding-right: 22px;
  margin: 0 auto;

  &.with-margin-top{
    margin-top: $xxxl;
  }

  @include respond-below(xs) {
    &{
      // background-color: red;
    }
  }

  @include respond-above(xs) {
    &{
      max-width: map-get($container-max-widths, xs);
      // background-color: pink;
    }
  }

  @include respond-above(sm) {
    &{
      max-width: map-get($container-max-widths, sm);
      // background-color: green;
    }
  }

  @include respond-above(md) {
    &{
      max-width: map-get($container-max-widths, md);
      // background-color: blue;
    }
  }

  @include respond-above(lg) {
    &{
      max-width: map-get($container-max-widths, lg);
      // background-color: yellow;
    }
  }
}

strong{
  font-weight: 500;
}

p, li, blockquote, q{
  line-height: 1.7;
}

header{
  padding: $medium;

  @include respond-above(sm){
    padding: $medium-large;
  }

  @include respond-above(md){
    padding: $large;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
  }

  .logo{
    font-family: 'aller',sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    color: $base-accent-colour;
  }

  // MENU
  // --------------------------------
  .menu{
    display: flex;
    justify-content: center;

    @include respond-above(md){
      justify-content: flex-end;
    }

    li{
      text-transform: uppercase;
      font-size: 0.875em;
      font-weight: 400;
      padding: 0 $medium-small;

      @include respond-above(sm){
        font-size: 0.875em;
      }

      @include respond-above(md){
        font-size: 1em;
      }

      &:first-child{
          padding-left: 0;
      }

      &:last-child{
          padding-right: 0;
      }

      a{
        text-decoration: none;
        color: inherit;
        color: $menu-grey-normal;

        &.active, &:hover{
          color: $menu-grey-hover;
        }
      }
    }
  }

  h1{
    margin-bottom: $medium-small;

    @include respond-above(sm){
      margin-bottom: $medium-large
    }

    @include respond-above(md){
      text-align: left;
      margin: 0;
    }

    a{
      text-decoration: none;
      color: inherit;
    }
  }

  nav{
    @include respond-above(md){
      align-self: center;
    }
  }
}

h1, h2, h3, h4, h5, h6{
  color: $secondary-grey;
}

h1{
  font-size: 1.25em;
  text-align: center;
}

h2, h3{
  font-weight: 200;
  color: $secondary-grey;
  text-transform: uppercase;
  // letter-spacing: 0.8px;
}

h2{
  font-size: 2em;
  line-height: 1;

  &.tw-logo{
    font-size: 3em;
    text-align: center;
    font-family: "Lobster" , sans-serif;
    text-transform: capitalize;

    &.light{
      margin-bottom: $medium-large;
      color: $grey-for-boxes;
    }
  }

  &.smart-cistern{
    margin-bottom: $medium;
    color: $sc-bright-blue;

    @include respond-above(sm){
      text-align: left;
      margin-bottom: $large;
    }
  }

  &.bl-logo{
    max-width: 250px;
    margin: 0 auto;
  }
}

h3{
  font-size: 2em;
  margin-bottom: $medium;
  font-weight: 400;
  letter-spacing: 2px;
  color: $tertiary-grey;
}

h4{
  font-size: 1.5em;
  font-weight: 400;
  color: $lighter-grey;
  margin: $medium-large 0 $medium-small 0;

  @include respond-above(sm){
    margin-bottom: $medium;
  }

  @include respond-above(md){
    margin-top: $large;
  }
}

.thunderwear h4{
  // color: $bright-green;
}

h5{
  font-weight: 400;
  font-size: 1.25em;
  margin: $xl 0 $medium-small 0;
}

h6{
  font-weight: 500;
  margin: $xl 0 $medium-small 0;
}

.card{
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  // &:hover{
  //   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  // }
}


.description{
  text-align: center;
  margin-bottom: $medium-large;
  display: none;
}

// PROJECT LIST
// ----------------------------------------
.project-list{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: $medium-large;
  margin-bottom: $medium;

  @include respond-above(sm) {
    grid-template-columns: 1fr 1fr;
    grid-gap: $large;
    margin-bottom: $medium-large;
  }

  @include respond-above(md) {
    grid-gap: $large;
    margin-bottom: $large;
  }

  h2{
    @include respond-below(md){
      font-size: 1.3em;
    }
  }

  &.photography{
    @include respond-above(sm){
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .project-element{
    text-align: center;

    @include respond-above(md) {
      margin-bottom: 0;
    }

    a{
      text-decoration: none;

      &:hover > img{
        box-shadow: 0 5px 5px rgba(0,0,0,0.1), 0 5px 5px rgba(0,0,0,0.1);
      }
    }

    img{
      margin-bottom: $small;
      border-radius: 3px;
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      position: relative;

      @include respond-below(xs) {
        max-width: 250px;
        height: auto;
      }

      @include respond-above(xs) {
        max-width: 380px;
        height: auto;
      }

      @include respond-above(sm){
        max-width: 100%;
        height: auto;
      }

    }

    p{
      color: $lighter-grey;
    }
  }
}






// ---------------------- PROJECT VIEW

.project-header{
  // background-color: pink;
  // height: 100%;
  font-size: 0;

  padding: 0;

  picture{
    width: 100%;
    height: auto;
  }
}

.process-img{
  text-align: center;
  display: block;
  // padding: 0 $small 0 $small;
  margin: $medium auto 0 auto;

  @include respond-below(xs){
    width: 100%;
  }
  @include respond-between(xs, sm){
    width: 80%;
    // width: 60%;
  }
}

.img-with-border{
  border: 1px solid $menu-grey-normal;
  border-radius: 8px;
  padding: $medium;
}

.project-summary{
  padding-top: $medium;

  h2{
    margin-top: $small;
    margin-bottom: $medium-small;
    text-align: center;

    @include respond-above(md){
      margin-top: $medium;
      margin-bottom: $medium;
    }
  }

  .overview{
    text-align: center;

    @include respond-above(md){
      max-width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  h4{
    margin-bottom: $tiny;
    // border-bottom: 1px solid;
  }

  .project-info{
    margin-top: $medium-small;
    padding-bottom: $medium-large;

    @include respond-above(md){
      margin-top: $medium;
      padding-bottom: $medium-large;
    }


    .container{
      @include respond-above(sm){
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-column-gap: $medium;
        grid-row-gap: $large;
        text-align: center;
      }

      .process, .impact{
        @include respond-above(sm){
          grid-column-start: 1;
          grid-column-end: 4;
          // margin-top: $medium-small;
          text-align: center;
        }
      }

      .process{
        padding-bottom: $medium-large;

        &.tw{
          background-color: $bright-blue;
        }

        &.nb{
          background-color: $nb-green;
        }

        &.ol{
          background-color: $ol-purple;
        }


        h4{
          color: white;

          @include respond-below(sm){
            text-align: center;
            padding: $medium 0 $medium-small 0;
          }
        }

        .process-img{
          @include respond-below(md){
            padding: 0 $medium;
          }
        }
      }
    }
  }
}

.project-content{
  margin-bottom: $xxl;
}

.literature-summary{
  p.summary{
    margin-left: auto;
    margin-right: auto;

    margin-top: $medium-large;

    @include respond-above(sm){
      max-width: 80%;
      margin-top: $large;
    }

    @include respond-above(md){
      max-width: 70%;
      margin-top: $xl;
    }

    @include respond-above(lg){
      max-width: 50%;
    }
  }
}

.app-final-design{
  @include respond-above(md){
    margin-top: $large;
  }
}


section.highlight-section{
  padding: $large 0 ;

  &.tw{
    background: -webkit-gradient(linear, left bottom, right top, from($light-bright-blue), to($darker-blue));
    h3, p{
      color: white;
    }
  }

  &.sc-before{
    background-color: $sc-before-grey;
  }

  &.sc{
    background-color: $sc-light-blue;
  }
}


.method-list{
  list-style-type: none;

  li{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    text-align: center;
    text-transform: uppercase;

    i{
      color: $base-accent-colour;
    }
  }
}

.tldr{
  text-align: center;
  margin: $medium auto;

  @include respond-above(md){
    margin: $large auto;
    display: inline-block;
  }

  &.container{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-row-gap: $medium;
    width: 100%;

    @include respond-above(sm){
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-column-gap: $large;
    }

    @include respond-above(md){
      padding-top: $xl;
      padding-bottom: $xl;
    }
  }

  .highlight-title{
    font-weight: 600;
    display: inline-block;
    padding-top: $medium;
    margin-bottom: $medium;
  }
}

.box{
  text-align: center;
  justify-self: center;
  display: inline-block;
  background-color: $grey-for-boxes;
  border-radius: 3px;
  padding: $small $medium;
  max-width: 100%;

  &.persona{
    background-color: $very-light-blue;
  }
}

.interview-quotes{
  margin: $medium 0 0 0;
  display: inline-block;

  @include respond-above(sm){
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $medium-large;
    text-align: left;
  }

  @include respond-above(md){
    grid-gap: $large;
  }

  q{
    display: inline-block;
    margin-top: $medium;
    padding-left: $small;
    font-style: italic;
    position: relative;

    @include respond-above(md){
      margin-top: $medium-large;
      margin-bottom: $medium;
    }

    &:before{
      content: "\“";
      font-family: 'Coustard', serif;
      font-style: normal;
      position: absolute;
      left: -10px;
      margin: 0;
      padding: 0;
      z-index: -1;
      line-height: 0.7;
      font-size: 7em;
      color: $light-green;

      @include respond-above(md){
        font-size: 10em;
      }
    }
  }
}

.personas-list{
  @include respond-above(md){
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .persona{
    margin-top: $large;
    padding: 0 0 $medium 0;

    @include respond-between(sm, md){
      margin-left: auto;
      margin-right: auto;
      max-width: 70%;
    }

    @include respond-above(md){
      width: calc(100% / 2 - 40px);

      &:not(:last-child){
        margin-right: $medium-large;
      }
    }

    @include respond-above(lg){
      width: calc(100% / 3 - 20px);

      &:not(:last-child){
        margin-right: $medium;
      }
    }

    figure{
      margin-bottom: $medium;
    }

    img.persona-portrait{
      object-fit: cover;
    }

    .persona-demographics{
      margin-bottom: $medium;
      text-align: left;

      li{
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 1fr;
        grid-gap: $small;
        margin-bottom: $small;
      }
    }
    .persona-pain-points{
      text-align: left;

      ul{
        margin-top: $small;
        // list-style: disc;
        // list-style-position: inside;

        li:not(:last-child){
          margin-bottom: $small;
        }
      }
    }

    h4{
      margin-top: $medium-small;
      text-transform: uppercase;
      text-align: center;
      display: block;
    }

    h5{
      margin-bottom: $medium-small;
    }

    ul{
      li{
        line-height: inherit;
      }
    }
  }
}

.insights-list{
  margin: $medium 0;
}

.task-list{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(8, 1fr);
  grid-gap: $medium-small;

  @include respond-above(sm){
    max-width: 90%;
    grid-column-gap: $large;
    margin-left: auto;
    margin-right: auto;
  }

  @include respond-above(md){
    max-width: 70%;
    margin-top: $medium-large;
  }

  li{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: inherit;
    padding: $small;

    &.decision-task{
      background-color: $light-red;
    }

    &.thunderwear-task{
      background-color: $light-green;
    }
  }

  .thunderwear-task{
    grid-row-start: 6;
    grid-row-end: 8;
  }

  h4{
    text-align: center;
    border-bottom: 1px solid;
    width: 100%;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    color: $lighter-grey;
  }

  .box{
    margin: 0;
    padding: $small $tiny;
    width: 100%;
  }
}

.highlight{
  &.tw{
    background: -webkit-gradient(linear, left bottom, right top, from($light-bright-blue), to($darker-blue));
  }

  &.nb{
    background: $nb-green;
    margin-top: $xl;
  }

  &.bl{
    background: $bl-orange-faded;
    margin-top: $xl;

    p{
      color: white;
    }

    h3{
      color: white;
      text-align: center;
    }

    @include respond-above(sm){
      padding: $xxl 0;
    }
  }

  &.ol{
    background: $ol-purple;
  }

  padding: $medium;

  @include respond-above(sm){
    padding: $medium-large;
  }

  @include respond-above(md){
    padding: $large;
  }

  @include respond-above(lg){
    padding: $xl;
  }

  p, li{
    color: white;
    font-weight: 100;
    text-align: center;

    &.one-col-copy{

      @include respond-above(md){
        width: 50%;
      }
    }

    @include respond-above(sm){
      font-size: 1.2em;
    }
  }
}


.legend{
  margin-top: $medium;

  @include respond-above(sm){
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  @include respond-above(sm){
    margin-top: $medium-large;
    max-width: 70%;
  }

  .legend-item{

    &:not(:first-child){
      margin-top: $small;
    }

    display: flex;
    font-size: 0.725em;

    .legend-color{
      width: 20px;
      height: 20px;
      border-radius: 3px;
      margin-right: $small;

      &.decision-task{
        background-color: $light-red;
      }

      &.thunderwear-task{
        background-color: $light-green;
      }
    }

    span{
      display: flex;
      align-self: center;
      line-height: 0;
    }
  }
}

.survey{
  h4{
    color: $thunderwear-body-copy;
  }

  .survey-charts{
    margin-bottom: $medium-small;

    @include respond-above(md){
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: $medium;
    }

    @include respond-above(lg){
      margin-bottom: $large;
    }

    div{
      @include respond-above(md){
        width: calc(50% - 30px);
        margin-top: $medium;

        &:not(:last-child){
          margin-right: 30px;
        }
      }
      // margin-right: 30px;
    }

    h4{
      @include respond-above(md){
        text-align: center;
      }
    }

    a{
      margin-bottom: $small;
      display: inline-block;

      img{
        @include respond-above(sm){
          max-width: 70%;
        }

        @include respond-above(md){
          max-width: 100%;
        }
      }
    }

  }

  .survey-facts{
    margin-top: $medium;
    margin-bottom: $medium;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    // align-items: center;
    grid-gap: $large;

    @include respond-above(sm){
      margin-top: $large;
      margin-bottom: $large;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }

    @include respond-above(md){
      grid-template-columns: repeat(4, 1fr);
      grid-gap: $medium;
      // max-width: 80%;
      // margin-left: auto;
      // margin-right: auto;
    }

    @include respond-above(lg){
      margin-top: $xl;
      margin-bottom: $xl;
    }

    hr{
      color: $bright-green;
      border-color: inherit;
    }

    li{
      line-height: 1.2;
      font-weight: 400;
      width: 80%;

      .percentage{
        color: $bright-green;
        text-align: center;
        line-height: 1;
        display: block;
        width: 100%;
        font-size: 2.5em;
        font-weight: 500;
        margin-bottom: $tiny;
      }
    }
  }


  .season-facts{
    margin-top: $medium;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;
    grid-gap: $medium-large;

    @include respond-above(sm){
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      margin-top: $large;
    }

    @include respond-above(md){
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
      grid-gap: $xl;
    }

    @include respond-above(lg){
      margin-top: $xl;
    }

    .summer, .winter{
      padding-top: $medium;
      padding-bottom: $medium;
      border-radius: 3px;
      text-align: center;

      i{
        display: block;
        text-align: center;
        font-size: 2.5em;
      }

      p{
        // text-align: center;
        display: block;
        margin-top: $medium;
      }

      .title{
        font-size: 1.2em;
        margin-top: $medium-small;
        display: block;
      }
    }

    .winter{
      background-color: $light-blue;
      .title{
        background: -webkit-gradient(linear, left bottom, right top, from($light-bright-blue), to($darker-blue));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      i{
        &:before{
          background: -webkit-gradient(linear, left bottom, right top, from($light-bright-blue), to($darker-blue));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }

    .summer{
      background-color: $light-yellow;

      .title{
        background: -webkit-gradient(linear, left bottom, right top, from($bright-yellow), to($bright-red));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      i{
        &:before{
          background: -webkit-gradient(linear, left bottom, right top, from($bright-yellow), to($bright-red));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}

.photo-gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: $medium-small;

  &.center-aligned{
    align-items: center;
    justify-items: center;
  }

  @include respond-above(md){
    margin-top: $medium-small;

    &.high-fi-first-line{
      margin-bottom: $xxl;
      a:nth-child(2){
        margin-top: 150px;
      }
    }

    &.high-fi-second-line{
      a:nth-child(1), a:nth-child(3){
        margin-top: 150px;
      }
    }
  }

  @include respond-above(lg){
    margin-top: $medium-small;
  }

  a{
    width: calc(100% / 2 - 20px);
    margin: $tiny $small;

    @include respond-above(md){
      width: calc(100% / 3 - 14px);

      &:first-child{
        margin-left: 0;
      }

      &:nth-child(3){
        margin-right: 0;
      }
    }

    @include respond-above(lg){
      width: calc(100% / 3 - 27px);
      margin: $small $medium-small;
    }
  }

  &.sketches{
    a{
      width: calc(100% / 2 - 20px);
      margin: $tiny $small;
      display: flex;
      justify-content: center;

      @include respond-above(md){
        width: calc(100% / 3 - 14px);

        &:first-child{
          margin-left: 0;
        }

        &:nth-child(3){
          margin-right: 0;
        }
      }

      @include respond-above(lg){
        width: calc(100% / 4 - 30px);
        margin: $small $medium-small;
        justify-content: center;
      }

      img{
        align-self: center;
      }
    }
  }

  &.validate{
    margin-top: $medium;
  }

  img{
    &.hifi-wireframes{
      border-radius: 20px;
      margin-right: $medium;
      -webkit-box-shadow: 0px 0px 32px -5px rgba(1,25,49,0.11);
      -moz-box-shadow: 0px 0px 32px -5px rgba(1,25,49,0.11);
      box-shadow: 0px 0px 32px -5px rgba(1,25,49,0.11);
    }
  }
}


.breakpoints-gallery{
  margin-top: $medium;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  &.sc{
    figure{
      padding-top: 0;
      padding: 0;
    }
  }

  li{
    margin: $small;
    width: calc(100% / 2 - (10px * 2));
    text-align: center;

    @include respond-above(sm){
      width: calc(100% / 3 - (10px * 2));
    }

    @include respond-above(md){
      width: calc(100% / 5 - (10px * 2));
    }



    figure{
      padding-top: $small;

      img{
        border-bottom: 1px solid $grey-for-boxes;
      }

      figcaption{
        padding: $small $small $medium-small $small;
      }
    }

    a{
      text-decoration: none;
      color: $bright-green;
    }
  }
}



.ordered-list{
  list-style: none;
  counter-reset: my-awesome-counter;
  margin-top: $medium-large;
  margin-bottom: $medium-large;

  @include respond-above(sm){
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      grid-column-gap: $medium-large;
      grid-row-gap: $medium;
  }

  &.one-col{
    @include respond-above(sm){
      grid-template-columns: repeat(5, 1fr);
      grid-template-columns: fit-content(100%);
      grid-template-rows: auto;
    }
  }

  &.ol-centered{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  li{
    counter-increment: my-counter;
    position: relative;
    padding: 3px 0 $medium-large $medium-large ;
    line-height: 1.2;

    @include respond-above(sm){
      padding: 3px 0 $medium-small $medium-large;
    }

    &:last-child{
      padding-bottom: 0;
    }
  }

  li::before{
    content: counter(my-counter);
    color: $bright-blue;
    font-size: 3em;
    line-height: 1;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 600;
  }
}

.two-column{
  @include respond-below(md){
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: $large;
    margin-top: $large;

    &.reverse{
      flex-flow: row;
      flex-wrap: wrap-reverse;
      display: flex;
      justify-content: center;

      @include respond-above(sm){
        margin-top: $xxl;
      }
    }
  }

  @include respond-above(md){
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $large;
  }

  .small-excerpt-column{
    align-items: center;
    align-self: center;

    font-weight: 200;
    text-align: center;

    &.sc{
      text-align: left;
      color: $sc-grey;

      @include respond-below(sm){
        text-align: center;
      }
    }

    @include respond-above(sm){
      font-size: 1.2em;
    };

    @include respond-above(md){
      font-size: 1.5em;
    };
  }
}

picture.final-mockups{
  @include respond-below(md){
    img{
      max-height: 600px;
      margin: 0 auto;
      display: block;
      text-align: center;
    }

  }
  @include respond-above(md){
    img{
      max-height: 700px;
      margin: 0 auto;
      display: block;
    }
  }
}

// .copy-and-image{
//   @include respond-above(sm){
//     display: grid;
//     grid-template-columns: 0.5fr 0.5fr;
//     grid-template-rows: auto;
//     grid-column-gap: $medium;
//   }
// }



.top-skills-img{
  margin-top: $medium-large;
  display: block;
}

.copy-column{
  @include respond-above(md){
    max-width: 65%;
  }
}

.three-column{
  display: grid;

  @include respond-below(sm){
    max-width: 80%;
    grid-row-gap: $medium;
  }

  @include respond-above(sm){
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: $large;
  }
}

.prototype-gif, .prototype-2-img{
  margin: 0 auto 0 auto;
  display: block;
  text-align: center;
}

// .prototype-gif{
//   @include respond-above(md){
//     margin: 0 auto;
//   }
// }

.prototype-2-img{
  img{
    @include respond-above(md){
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
}

.recommendations-list, .lessons-learned-list{
  margin-top: $medium;

  @include respond-above(md){
    margin-top: $large;
  }
}

.task-sample{
  text-align: center;
  margin-top: $medium;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);;
  grid-row-gap: $medium-small;

  @include respond-above(sm){
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: auto;
    // grid-column-gap: $medium;
  }

  .box{
    min-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond-above(sm){
    }
  }
}


//____________________________________
// NATURE'S BYSTANDERS
.matieres-sensibles, .chosen-concept{
  margin-top: $medium;
  figcaption{
    text-align: right;
  }

  @include respond-above(md){
    margin-top: 0;
    margin-left: $medium;
  }

}

.list-with-bullets{
  margin-top: $small;
  list-style: disc;
  list-style-position: outside;
  padding-left: 1em;

  b{
    font-weight: 700;
  }
}

.paragraph-highlight{
  text-align: center;
  font-family: 'PT Serif', serif;
  font-style: italic;
  margin: $large auto;
  max-width: 80%;
  font-size: 1.2em;

  @include respond-above(sm){
    font-size: 1.5em;
  }

  @include respond-above(md){
    margin: $xxl auto;
    max-width: 60%;
    font-size: 2em;
  }
}



// ONLINE-LEARNING
.triangulation-chart{
  margin-top: $medium;
  margin-left: auto;
  margin-right: auto;
  display: block;

  @include respond-above(sm){
    margin-top: $large;
  }

  @include respond-above(lg){
    max-width: 70%;
  }
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin-top: $xl;
    margin-bottom: $xl;
}


// -------------------------- BARKING LOVE
.bl-pattern{
  @include respond-above(md){
    background-image: url("../img/barking-love/barking-love-pattern.png");
    background-position: top right;
    background-repeat: repeat-y;
  }
}

.acme{
  font-family: 'Acme', sans-serif;
}

.signika{
  font-family: 'Signika', sans-serif;
  font-weight: 300;
}

.font-sample{
  font-size: 4em;
  padding: 0 !important;
  margin: 0 !important;
}

.colour-palette{
  font-size: 0.725em;

  .bl-grey{
    color: $bl-body-copy;
  }

  .bl-orange{
    color: $bl-orange;
  }

  .bl-green{
    color: $bl-green;
  }
}

.colour-sample{
  width: 100%;
  height: 30px;

  &.grey{
    background-color: $bl-light-grey;
  }

  &.orange{
    background-color: $bl-orange;
  }

  &.green{
    background-color: $bl-green;
  }
}



// -------------------------- PHOTOGRAPHY


.photography-gallery{
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: $medium-small;

  @include respond-above(sm){
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: $medium-large;
    grid-row-gap: $medium-large;
  }

  @include respond-above(md){
    grid-template-columns: repeat(4, 1fr);
  }

  a{
    img{
      width: 100%;
      height: auto;
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

    &:hover > img{
      box-shadow: 0 5px 5px rgba(0,0,0,0.1), 0 5px 5px rgba(0,0,0,0.1);
    }
  }
}





// ------------------------------ FOOTER

footer{
  background-color: #f7f7f7;
  padding: $medium;

  p{
    text-align: center;
    font-size: 0.725em;
  }

  .social-media{
    font-size: 1.5em;
    margin-bottom: $medium;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr;
    grid-gap: $medium;

    .instagram{
      justify-self: start;
    }

    .linkedin{
      justify-self: end;
    }

    a{
      text-decoration: none;
      color: $secondary-grey;
    }
  }
}
